n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internship-alert-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2b47b729-c730-4cda-84c3-2eb3f48f6568",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -240
      ],
      "webhookId": "cba57749-af95-43fe-b578-250176bbb7de"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "030e6c4a-cf68-424d-8c84-fa9ec2f00702",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -528,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"ai_parsed\"][\"risk_level\"]}}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "8f625948-c23d-4899-8a86-345242461987"
            },
            {
              "id": "2ef8f5b7-838e-4b59-afe1-c766dc448d79",
              "leftValue": "={{$json[\"ai_parsed\"][\"risk_level\"].toLowerCase()}}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7babf654-7e05-4ef1-b8f4-d9fff1f5ce57",
      "name": "Check High Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        -240
      ]
    },
    {
      "parameters": {
        "fromEmail": "monimounika9849@gmail.com",
        "toEmail": "={{$json[\"recipient\"]}}",
        "subject": "⚠️ High Risk Internship Alert",
        "emailFormat": "html",
        "html": "<h2 style=\"color:red;\">⚠️ Internship Risk Alert</h2>\n\n<p><b>Risk Level:</b> {{$json[\"ai_parsed\"][\"risk_level\"]}}</p>\n\n<p><b>Reason:</b><br>\n{{$json[\"ai_parsed\"][\"risk_reason\"]}}\n</p>\n\n<h3>Summary</h3>\n<p>{{$json[\"ai_parsed\"][\"summary\"]}}</p>\n\n<hr>\n\n<p><b>User Question:</b></p>\n<p>{{$json[\"user_query\"]}}</p>\n\n<hr>\n\n<p style=\"color:red;\">\nThis internship shows multiple scam indicators. Please verify carefully before proceeding.\n</p>\n\n<p>\nGenerated by AI Internship Risk Detection System\n</p>",
        "options": {}
      },
      "id": "97d765b0-8053-4438-bfc2-b4da51582d4a",
      "name": "Send High Risk Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -80,
        -320
      ],
      "webhookId": "ce0194d5-c728-4a46-afd5-e858090290a9",
      "credentials": {
        "smtp": {
          "id": "nVPDK5fuVAYtpXx6",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "monimounika9849@gmail.com",
        "toEmail": "={{$json[\"recipient\"]}}",
        "subject": "Internship Risk Analysis Report",
        "emailFormat": "html",
        "html": "<h2>Internship Risk Analysis</h2>\n\n<p><b>Risk Level:</b> {{$json[\"ai_parsed\"][\"risk_level\"]}}</p>\n\n<p><b>Reason:</b><br>\n{{$json[\"ai_parsed\"][\"risk_reason\"]}}\n</p>\n\n<h3>Summary</h3>\n<p>{{$json[\"ai_parsed\"][\"summary\"]}}</p>\n\n<hr>\n\n<p><b>User Question:</b></p>\n<p>{{$json[\"user_query\"]}}</p>\n\n<p>\nGenerated by AI Internship Risk Detection System\n</p>",
        "options": {}
      },
      "id": "7eae82fa-f1e0-4588-b865-1658daab4b14",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -80,
        -112
      ],
      "webhookId": "9df8277b-62e5-42c7-b847-655844e7cdda",
      "credentials": {
        "smtp": {
          "id": "nVPDK5fuVAYtpXx6",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"email_sent\":true,\"risk_level\":$json[\"ai_parsed\"][\"risk_level\"],\"message\":\"High risk alert email sent\"}",
        "options": {}
      },
      "id": "5b891ce5-3186-43a7-88fc-36f707a0bb56",
      "name": "Respond High Risk",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        -320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"success\",\"email_sent\":true,\"risk_level\":$json[\"ai_parsed\"][\"risk_level\"],\"message\":\"Risk analysis report email sent\"}",
        "options": {}
      },
      "id": "42381845-eb79-4593-a938-d15f0d749e94",
      "name": "Respond Normal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        -112
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Check High Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Risk": {
      "main": [
        [
          {
            "node": "Send High Risk Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send High Risk Email": {
      "main": [
        [
          {
            "node": "Respond High Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Respond Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5a481df4225dee7081375a3ad88355ee5500a985afd116d63181c3aba0c2591"
  }
}